.contact_me_section {
    // background-color: #080808;
    // background: #070707 url('/images/world-map.svg');

    .contact_left_container {
        background: #070707 url('/images/world-map.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        border-radius: 10px;
    }
}